#app {
  font-size: 3rem;
  color: $gray2;
}

.wrapper {
  border: 1px solid red;
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 2rem 0 2rem;
  font-weight: normal;
  min-height: 100vh;
}

header {
  background-color: #fff;
  border-bottom: 2px solid $green;
  padding: 10px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.logo {
  display: inline-block;
  border: 1px solid $red;
  width: 40px;
  margin-right: 20px;
}

nav {
  display: inline-block;
  width: calc(100% - 120px);

  a {
    padding: 10px;
    color: $main-grey;
    &.active {
      color: $main-blue;
    }
  }
}

a {
  color: $main-blue;
  text-decoration: underline;
}

// 全域改變 bootstrap 的 css 樣式
$baseFontSize: 2rem;
.btn {
  font-size: $baseFontSize;
}
.table {
  font-size: $baseFontSize;
}
.form-control {
  font-size: $baseFontSize;
}
.form-select {
  font-size: $baseFontSize;
}
.form-check-label {
  user-select: none;
}
