// 全域改變 bootstrap 的 css 樣式
$baseFontSize: 2rem;

// C端專屬樣式
.ClientFull {
  .ClientHeader {
    background-color: #fff;
    border-bottom: 2px solid $main-blue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    .home-link {
      display: inline-block;
      margin-right: 30px;
      .logo {
        display: inline-block;
        width: 45px;
      }
    }

    .main-nav-box {
      display: inline-block;
      user-select: none;
      .logout-btn {
        cursor: pointer;
      }
      .menu-btn {
        font-size: 1.2rem;
        padding: 2px 10px;
      }
      nav {
        box-shadow: 0 5px 7px rgba($main-grey, 0.8);
        border-top: 2px solid $main-blue;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 1;
        padding: 10px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s;

        &.show {
          visibility: inherit;
          opacity: 1;
        }
        a {
          display: inline-block;
          padding: 10px 15px;
          margin: 0 10px 0 0;
          text-decoration: none;
          border-radius: 8px;
          &.disabled {
            color: $main-grey;
            cursor: not-allowed;
          }
          &.active {
            color: #fff;
            background-color: $main-blue;
          }
        }
      }
    }

    h5 {
      margin: 0;
      color: $main-blue;
      > i {
        margin: 0 10px;
      }
    }
  }
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 2rem 20px 2rem;
    font-weight: normal;
    min-height: 100vh;
  }
  // 以下改變表單ui元素
  .btn {
    font-size: 1.5rem;
    &.btn-success {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
  .table {
  }
  .form-label {
    font-size: 1.8rem;
  }
  .form-control {
    font-size: 1.5rem;
  }
  .form-select {
    font-size: 1.5rem;
  }
  .form-check {
    margin-left: $baseFontSize;
  }
  .form-check-input {
    font-size: $baseFontSize;
  }
  .form-check-label {
    user-select: none;
    font-size: $baseFontSize;
  }
  .form-switch {
    margin-left: 2.8rem;
  }
}

// 通用樣式: 選擇機器號碼
$machineCardSize: 160px;
.machine-list-box {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $machineCardSize;
    height: $machineCardSize;
    cursor: pointer;
    user-select: none;
    font-size: 1.5rem;
  }
}

// 通用樣式: 卡片列表
.card-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  > div {
    min-width: 240px;
    width: 30%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    user-select: none;
    font-size: 2.4rem;
    border-width: 1px;
    box-shadow: 0 3px 5px rgba($main-grey, 0.6);
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      width: 100%;
      height: 100%;
    }
    &.disabled {
      opacity: 0.35;
      border-bottom-color: $gray3;
      a {
        color: $gray3;
      }
    }
  }
}

// 通用樣式: 一堆表的共用容器
.custom-tables-box {
  border: 1px solid $main-grey;
  border-radius: 8px;
  padding: 40px;
  background-color: #fff;
}
