.InputScanBarcode {
  //border: 1px solid red;
  display: inline-flex;
  width: 100%;

  input[type=text] {
    //width: auto;
  }

  button i {
    font-size: 39px;
    vertical-align: text-top;
  }

  .barcode-reader-box {
    background-color: rgba(#000, 0.8);
    padding: 20px;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    overflow: auto;
    > div {
      margin: 0 auto;
      max-width: 500px;
    }
    > button {
      margin: 0 auto;
      max-width: 500px;
      display: block;
    }
  }
}
