.AdminReport {
  table {
    border: 1px solid #6d6d6d;
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    border: 1px solid #6d6d6d;
    padding: 1px 4px;
  }
  .logo {
    max-height: 100%;
  }
  .fc-red {
    color: red;
    .span-check-box {
      border-color: red;
      &.active {
        background-color: red;
      }
    }
  }
  .fc-blue {
    color: blue;
    .span-check-box {
      border-color: blue;
      &.active {
        background-color: blue;
      }
    }
  }
  .bg-green {
    background-color: #90ca7d;
  }
  .border-red {
    border-color: red;
  }
  // 欄位中的元素靠期頭尾
  .flex-between {
    display: flex;
    justify-content: space-between;
  }
  // 用span做出checkbox效果
  .span-check-box {
    border: 1px solid #000;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    user-select: none;
    margin-right: 3px;
    &.active {
      background-color: #000;
    }
  }

  .noBorder {
    border-color: transparent;
  }

  // 用來放有重複性質,且左右排序的表格容器用
  .oneSampleLRTableBox {
    display: flex;
    align-items: top;
  }
}
