.AdminFormingMachineMonitoringItemList {
  .create-modal {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      padding: 30px;
      border: 1px solid $gray3;
      background-color: #fff;
      width: 500px;
    }
  }

  .table {
    margin: 0;
    td {
      vertical-align: middle;
    }
  }
}
